@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  box-sizing: border-box;
  padding: 0;

  @include mobile {
    padding: 0;
  }
}
